*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body {
    padding: 30px;
}

.block {
    background: url('/img/seth_rogen-pxl_peeps.svg') fixed;
    /* background-position: -100px 20%; */
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin: 10px;
}

.list {
    margin: 0 0 50px 0;
}

.list li {
    font-size: 24px;
    margin: 0 0 15px 0;
    background: url('/img/seth_rogen-pxl_peeps.svg') left top no-repeat;
    background-size: contain;
    padding-left: 30px;
}