// Файл обнуляющий стилей
@import '_nullStyle';

// Переменные
$fz:20px;

// Шаблон
%tplborder {
    border-bottom: 5px dashed red;
}

// Миксин
@mixin name($f, $color){
    font-size: $f;
    color: $color;
}

.block {
    background-color: rgb(168, 168, 168);
    width: 300px /960px * 100%;
    padding: 20px;
    font-size: 30px;
    line-height: 20px;
    span{
        color:  red;
    }
    span:hover{
        color: blue;
    }
}

.link {
    color: blue;
    text-decoration: underline;
    font-size: $fz;
    .block & {
        font-size: $fz;
    }
    &:hover{
        color: red
    }
    @extend %tplborder
}

.link-2 {
    @include name(100px, red);
}
