* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-color: #e8e8e8;
  background: url("/img/ellipse_1_copy_4.png") 50% 130px no-repeat;
}

.content {
  padding: 168px 0 137px 0;
  max-width: 841px;
  margin: 0px auto;
}

.content-top {
  text-align: center;
  margin: 0 0 65px 0;
}

.content-top__category {
  opacity: 0.6;
  color: #273d46;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin: 0 0 15px 0;
}

.content-top__title {
  color: #273d46;
  font-size: 36px;
  line-height: 50px;
  max-width: 725px;
  margin: 0px auto;
  font-weight: normal;
}

.content_image {
  -webkit-box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
          box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
  background-color: #fff;
  padding: 10px;
  margin: 0 0 85px 0;
}

.content_image img {
  max-width: 100%;
}

.content-bottom {
  margin: 0 45px;
}

.content-bottom__text {
  opacity: 0.8;
  color: #273d46;
  font-size: 24px;
  line-height: 40px;
  margin: 0 0 47px 0;
}

.content-bottom__text p {
  margin: 0 0 40px 0;
}

.content-bottom__text p:last-child {
  margin: 0;
}

.content-bottom__info-list {
  margin: 0 0 59px 0;
}

.content-bottom__info-list li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #273d46;
  margin: 0 0 18px 0;
  background: url("/img/icons/check_icon_37.png") left no-repeat;
  padding: 0 0 0 36px;
}

.content-bottom__info-list li:nth-child(1) {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.content-bottom__info-list li:nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}

.content-bottom__info-list li:nth-child(3) {
  font-weight: 700;
}

.content-bottom__info-list li:nth-child(4) {
  text-decoration: line-through;
}

.content-bottom__info-list li:nth-child(4) span {
  opacity: 0.3;
}

.content-bottom__info-list li:last-child {
  margin: 0;
}

.content-bottom-info__link {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 24px;
  padding: 0 30px;
  background-color: #88b7b3;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content-bottom-info__link span {
  background: url("/img/icons/shape_2_9.png") right no-repeat;
  padding: 0 30px 0 0;
}

.content-bottom-info__link:hover {
  background-color: #817d65;
}

.content-bottom-info__link:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
