//Миксины
@mixin anim($time, $delay) {
    -webkit-transition: all $time ease $delay;
    -moz-transition: all $time ease $delay;
    -ms-transition: all $time ease $delay;
    -o-transition: all $time ease $delay;
}
@mixin anim_cubic($time, $delay) {
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin scale($num) {
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}
@mixin scew($num) {
    -webkit-transform: skewX($num);
    -moz-transform: skewX($num);
    -ms-transform: skewX($num);
    -o-transform: skewX($num);
    transform: skewX($num);
}
@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    aling-items: stretch;
    justify-content: center;
}
@mixin tr($x, $y, $z) {
    transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}
@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

// Файл обнуляющий стилей
// @import "_nullStyle";
@import "_header";

// Подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
    font-family: "BQ";
    src: url("/fonts/AkzidenzGroteskBQ-XBold.eot");
    src: local("Akzidenz-Grotesk BQ Extra Bold"), local("AkzidenzGroteskBQ-XBold"),
        url("/fonts/AkzidenzGroteskBQ-XBold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/AkzidenzGroteskBQ-XBold.woff2") format("woff2"),
        url("/fonts/AkzidenzGroteskBQ-XBold.woff") format("woff"),
        url("/fonts/AkzidenzGroteskBQ-XBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Bebas";
    src: url("/fonts/Bebas-Regular.eot?") format("eot"), url("/fonts/Bebas-Regular.woff") format("woff"),
        url("/fonts/Bebas-Regular.ttf") format("truetype"), url("/fonts/Bebas-Regular.svg#Bebas-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Шрифт по умолчанию
$fontfamily: "PT sans";

// Переменные
$minwidth: 320px;
$mw: 880px;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md3: 479.98;


// Обнуление и общи параметры
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside {display: block;}
html,body {height: 100%;margin: 0;padding: 0;min-width: $minwidth; position: relative; width: $mw; color: #000}
body {
    font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
    &.lock{
        overflow: hidden;
        @media (max-width:$md3 + px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        } 
    }
}
input,button,textarea {font-family: $fontfamily;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
