@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/pfdintextcondpro_regular-webfont.woff2') format('woff2'), url('../fonts/pfdintextcondpro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// Файл обнуляющий стилей
@import '_nullStyle';

.text {
    font-family: "PFDinTextCondPro";
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    p {
        margin: 0 0 30px 0;
    }
}

.textoriginal {
    font-size: 30px;
    line-height: 35px;
    p {
        margin: 0 0 30px 0;
    }
}