*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

.example-block {
    margin: 0 0 30px 0;
    border: 1px solid #000;
    border-radius: 15px 0 15px 0;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(145, 145, 145);
    opacity: 0.55;
    visibility:visible;
}
.example-string {

}

.example-image {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px dotted #000;
}
