/* ============================================================= */
/* ============================================================= */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Bebas";
  letter-spacing: 1px;
}

/* ============================================================= */
/* .header-men__icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
        &:first-child{top: 0px;}
        &:last-child{top: auto;bottom: 0px;}
    }
    &.active{
        span{@include scale(0);
            &:first-child{@include rotate(-45deg); top: 8px;}
            &:last-child{@include rotate(45deg, bottom: 8px)}
        }
    }
} */
@font-face {
  font-family: "BQ";
  src: url("/fonts/AkzidenzGroteskBQ-XBold.eot");
  src: local("Akzidenz-Grotesk BQ Extra Bold"), local("AkzidenzGroteskBQ-XBold"), url("/fonts/AkzidenzGroteskBQ-XBold.eot?#iefix") format("embedded-opentype"), url("/fonts/AkzidenzGroteskBQ-XBold.woff2") format("woff2"), url("/fonts/AkzidenzGroteskBQ-XBold.woff") format("woff"), url("/fonts/AkzidenzGroteskBQ-XBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/Bebas-Regular.eot?") format("eot"), url("/fonts/Bebas-Regular.woff") format("woff"), url("/fonts/Bebas-Regular.ttf") format("truetype"), url("/fonts/Bebas-Regular.svg#Bebas-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 880px;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PT sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 479.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "PT sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}
