* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.link {
  border-bottom: 5px dashed red;
}

.block {
  background-color: #a8a8a8;
  width: 31.25%;
  padding: 20px;
  font-size: 30px;
  line-height: 20px;
}

.block span {
  color: red;
}

.block span:hover {
  color: blue;
}

.link {
  color: blue;
  text-decoration: underline;
  font-size: 20px;
}

.block .link {
  font-size: 20px;
}

.link:hover {
  color: red;
}

.link-2 {
  font-size: 100px;
  color: red;
}
