// Файл обнуляющий стилей
@import '_nullStyle';

body {
    background-color: #e8e8e8;
    background: url('/img/ellipse_1_copy_4.png') 50% 130px no-repeat
}

.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0px auto;
}
.content-top {
    text-align: center;
    margin: 0 0 65px 0;
		&__category {
            opacity: 0.6;
            color: #273d46;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            margin: 0 0 15px 0;
		}

		&__title {
            color: #273d46;
            font-size: 36px;
            line-height: 50px;
            max-width: 725px;
            margin: 0px auto;
            font-weight: normal;
		}
}
.content_image {
    box-shadow: 0 15px 65px rgba(15, 16, 16,0.15);
    background-color: #fff;
    padding: 10px;
    margin: 0 0 85px 0;

		img {
            max-width: 100%;
        }
}
.content-bottom {
    margin: 0 45px;
		&__text {
            opacity: 0.8;
            color: #273d46;
            font-size: 24px;
            line-height: 40px;
            margin: 0 0 47px 0;
            p {
                margin: 0 0 40px 0;
                &:last-child{
                    margin: 0;
                }
            }
		}

		&__info {
		}

		&__info-list {
            margin: 0 0 59px 0;
            li {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 20px;
                color: #273d46;
                margin: 0 0 18px 0;
                background: url('/img/icons/check_icon_37.png') left no-repeat;
                padding: 0 0 0 36px;
                &:nth-child(1) {
                    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
                }
                &:nth-child(2){
                    color: #80b7b3;
                    font-style: italic;
                }
                &:nth-child(3){
                    font-weight: 700;
                }
                &:nth-child(4){
                    text-decoration: line-through;
                }
                &:nth-child(4) span {
                    opacity: 0.3;
                }
                &:last-child{
                    margin: 0;
                }
            }
		}
}
.content-bottom-info {
		&__link {
            display: inline-block;
            height: 44px;
            line-height: 44px;
            border-radius: 24px;
            padding: 0 30px;
            background-color: #88b7b3;
            box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color:#fff;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            span {
                background: url('/img/icons/shape_2_9.png') right no-repeat;
                padding: 0 30px 0 0;
            }
            &:hover{
                background-color: #817d65
            }
            &:active{
                position:relative; 
                top: 3px;
                box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
            }
		}
}
