*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


body {
    padding: 30px;
}
.block {
    margin: 0 0 30px 0;
}
.block:hover {
    background:rgb(146, 146, 146)
}

.block p {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px 0;
}

.block p:last-child{
    text-transform: uppercase;
}

.link {
    color: red;
}
.link:visited{
    color: blue;
}

.link:hover {
    color:green;
    text-decoration: underline;
}

.textinput {
    border: 1px solid black;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    width: 300px;
    margin: 0 0 5px 0;
}

.textinput:focus{
    background: goldenrod;
    border-radius: 15px;
}

.textbutton {
    display: block;
    width: 300px;
    height: 50px;
    background: rgb(146, 146, 146);
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 30px 0;
}

.textbutton:hover{
    color: turquoise;
    background: #000;
    border-radius: 50%;
}
.list {
}

.list li {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.list li:first-child{
    color:aqua
}

.list li:last-child{
    color:yellowgreen
}

.list li:nth-child(3){
    font-size: 30px;
}